@font-face {
  font-family: 'Gilroy-Bold';
  font-style: normal;
  src: local('Gilroy-ExtraBold'), url(./Gilroy-ExtraBold.otf) format('opentype');
}

@font-face {
  font-family: 'Gilroy-Light';
  font-style: normal;
  src: local('Gilroy-Light'), url(./Gilroy-Light.otf) format('opentype');
}

body {
  background: rgba(200,200,200,0.3);
background: url("http://static.wixstatic.com/media/0eb0fd_7038b794a4104935981ba615e65953cc~mv2_d_2048_1280_s_2.jpg_srz_906_566_85_22_0.50_1.20_0.00_jpg_srz") no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
padding: 0px;
margin: 0px;
overflow-y: scroll; 
overflow-x:hidden;
}
#about{
background: white;
font-size: 25px;
font-family: 'Lato', sans-serif;
position: center;
padding-bottom: 50px;
padding-right: 50px;
padding-left: 50px;
}
.title {
  padding-top: 0px;
  text-align: center;
  font-family: 'Gilroy-Bold';
  color: white;
  font-size: 190px;
  color: #1e90ff;
  opacity: 0.7;
  filter: Alpha(opacity=70);
}
.title span {
}
.subtitle {
  text-align: center;
  font-family: 'Gilroy-Light';
  font-size: 50px;
  padding-top: 0px;
  color: #1e90ff;
  opacity: 0.7;
  filter: Alpha(opacity=70);
}

.i-t {
  padding-top: 20px;
  color:  black;
  font-family: 'Gilroy-Bold';
  font-size: 50px;
  padding-bottom: 0px;
}
.des {
  padding-top: 0px;
  color: black;
  font-family: 'Gilroy-Light';
  font-size: 30px;
}
.des a {
  color: #1e90ff;
}
.material-icons.md-48 { 
  font-size: 100px;   
  color: #1e90ff;
  opacity: 0.7;
  filter: Alpha(opacity=70);
}
::moz-selection{
	color: white;
	background: #1e90ff;
}
::selection {
	color: white;
  background: #1e90ff;
}
.social {
	bottom: 5%;
	right: 5%;
	position: fixed;
	z-index: 100;
	margin: 0;
	padding: 0;
}
.madeby {
  color: #1e90ff;
  opacity: 0.7;
  filter: Alpha(opacity=70);
  background: url('https://s-media-cache-ak0.pinimg.com/564x/52/d8/1e/52d81e9760bccf90f25252948a15ebfd.jpg') 50% center;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  transition:all 3s ease;
  font-family: 'Gilroy-Bold';
  font-size: 60px;
  text-align: right;
  margin-right: 0px;
  text-decoration: none;
  position: relative;
  margin-bottom: 0px;
}
.madeby:hover {
  opacity: 1;
  background-position: bottom center; 
}
img {
  width: 200px;
  
}
.madebytwo {
  color: #1e90ff;
  opacity: 0.7;
  filter: Alpha(opacity=70);
  background: url('https://s-media-cache-ak0.pinimg.com/564x/52/d8/1e/52d81e9760bccf90f25252948a15ebfd.jpg') 50% center;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
  transition:all 3s ease;
  font-family: 'Gilroy-Light';
  font-size: 30px;
  text-align: right;
  margin-right: 0px;
  text-decoration: none;
  position: relative;
  margin-bottom: 0px;
}
.madebytwo:hover {
  opacity: 1;
  background-position: bottom center; 
}
.ribbon{
  width: 200px;
  background: #1e90ff;
  position: absolute;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: ;
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  font-family: 'Gilroy';
}

img {
  height: 100px;
  width: 100px;
  border-radius: 10%;
  position: fixed;
	left: 5%;
	top: 5%;
  z-index: 1;
}
@media only screen and (max-width: 975px) { 
  .title {
        font-size: 100px;
  }
  img {
  height: 50px;
  width: 50px;
   left: 3%;
	top: 3%;
  }
}
